PaddleOCR-main
models
/Code/Guru/dumped
.venv
/Code/Guru/empty-boxes/runs
/Code/Guru/empty-boxes/dataset
/Code/Guru/combine-label-input/.venv
/Code/finalCode/Models/TrOCR-processor
/Code/finalCode/Models/TrOCR-model
/Code/finalCode/deep-text-recognition-benchmark
/Code/finalCode/cropped