<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.0/fabric.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
    <title>Connection</title>
</head>
<body>
    <h1 id='hero'>Connection</h1>
    <div class="container">
        <div class="imageContainer">
            <nav>
                <button onclick="window.location.href='/input_editor/{{image_name}}'">Prev: Inputs</button>
                <button onclick="window.location.href='/'">Next: HOME</button>
            </nav>
            <canvas id="canvas"></canvas>
            <footer>
                <button onclick="saveChanges()" id ="saveChanges">Save Changes</button>
                <button id ="deleteConnectionBtn">Delete Connection</button>
            </footer>
        </div>
        <div>
            <h2 id="labelName">Labels</h2>
            <div id="labelList">
        </div>
        </div>
    </div>    
    <br>
    <script>
        const imageUrl = "{{ image_url }}";
        const layoutJsonUrl = "{{ layout_json_url }}";
        const imageName = "{{ image_name }}";
    </script>
    <script src="{{ url_for('static', filename='js/connection.js') }}"></script>

</body>
</html>