<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.0/fabric.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
    <title>Connection</title>
</head>
<body>
    <h1>Input Editor</h1>
    <div class="container">
        <div class="canvas-container">
            <canvas id="canvas"></canvas>
        </div>
        <div id="labelList">
            <h2>Labels</h2>
            <div id="labels"></div>
        </div>
    </div>    
    <button onclick="saveChanges()">Save Changes</button>
    <button onclick="window.location.href='/'K">Home</button>
    <script>
        const imageUrl = "{{ image_url }}";
        const layoutJsonUrl = "{{ layout_json_url }}";
        const imageName = "{{ image_name }}";
    </script>
    <script src="{{ url_for('static', filename='connection.js') }}"></script>

</body>
</html>