<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR Label Editor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.1/fabric.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/editor.css') }}"
    />
</head>
<body>
    <h1 id="hero">OCR Label Editor</h1>
    <div class="container">
        <div class = "imageContainer">
            <nav>
                <button onclick="window.location.href='/'">Prev: HOME</button>
                <button onclick="window.location.href='/input_editor/{{image_name}}'">Next: Input Editor</button>
            </nav>
            <canvas id="canvas"></canvas>
            <footer>
                <button onclick="saveChanges()">Save Changes</button>
                <button id="addBox">Add Box</button>
                <button id="RunPaddle" onclick="runPaddle()">Run Paddle</button>
            </footer>
        </div>
        <div>
            <h2 id="labelName">Labels</h2>
            <div id="labelList"></div>
        </div>
    </div>
    <script>
        var image_url = '{{ image_url }}';
        var image_name = '{{ image_name }}';
        var json_url = '{{ json_url }}';
    </script>
    <script src="{{ url_for('static', filename='js/label_editor.js') }}"></script>
</body>
</html>