<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template View</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.1/fabric.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
</head>
<body>
    <h1>Template View</h1>
    <div class="container">
        <div id="imageContainer">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="file-input-container">
                    <label for="image-upload" class="file-input-label">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                            <polyline points="17 8 12 3 7 8"></polyline>
                            <line x1="12" y1="3" x2="12" y2="15"></line>
                        </svg>
                        <span>Click to upload or drag and drop</span>
                        <span>Supported formats: JPG, PNG</span>
                    </label>
                    <input type="file" id="image-upload" name="image" accept="image/*" required>
                </div>
        
                <div class="image-preview-container">
                    <img class="image-preview" src="" alt="Preview">
                    <div class="image-overlay">
                        <button type="button" class="remove-image-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                            Remove
                        </button>
                    </div>
                </div>
            </form>
            <canvas id="canvas"></canvas>
            <footer>
                <button class="btn" id="extractData">Extract</button>
            </footer>
        </div>
        <div id="labelContainer">
            <h2 id="labelName">Labels</h2>
            <div id="labelList"></div>
        </div>
    </div>
    <script>
        const layoutJsonUrl = "{{json_url}}";  // Pass the URL dynamically
    </script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
</body>
</html>