<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css')}}">
</head>
<body>
    <h1>Template View</h1>
    <div class="container">
        <div>
            <div class="imageContainer">
                <input type="file" id="imageInput" accept="image/*">
                <canvas id="canvas">
    
                </canvas>
            </div>
            <button class="btn" id="extractData">Extract</button>
        </div>
        <div class="labelList">
            <h1>Labels</h1>
            <ul id="labelDetails"></ul> <!-- Placeholder for label details -->
        </div>
    </div>
    <script>
        const layoutJsonUrl = "{{json_url}}";  // Pass the URL dynamically
    </script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
</body>
</html>
